.graphiql-container {
    background-color: transparent !important;
    font-size: 14px;
}

.graphiql-container * {
    box-shadow: none !important;
}

.graphiql-container .graphiql-editor-tools button:nth-child(2) {
    display: none;
}

.graphiql-container .graphiql-editors {
    border-radius: 2px;
}

.graphiql-container .graphiql-editors.full-height {
    margin-top: 8px;
}

.graphiql-container .graphiql-query-editor {
    border-bottom: 0;
    padding: 6px;
    column-gap: 6px;
}

.graphiql-container .graphiql-response .result-window {
    padding-top: 8px;
}

.graphiql-container .graphiql-session-header {
    display: none;
}

.graphiql-container .graphiql-sessions {
    border-radius: 2px;
}

.graphiql-container .graphiql-sidebar {
    display: none;
}

.graphiql-toolbar button:nth-child(2) {
    display: none; /* prettify */
}

.graphiql-toolbar button:nth-child(3) {
    display: none; /* merge */
}